{{ page.header }}
{% block content %}
  <main class="bg-light-gray py-16">
    <div class="w-full lg:w-1/2 px-4 mx-auto my-24">
      <h2 class="text-2xl text-center font-bold mb-4">Despre Noi</h2>
      <p class="text-lg text-gray-800 text-justify">
        Suntem o companie specializată în furnizarea și montarea de soluții moderne de tamplărie în aluminiu și PVC,
        fațade ventilate, sisteme bond, HPL și fibrociment, pereți cortina și balustrade de sticlă. Cu o experiență de
        funcționare începând din anul 2014, ne mândrim cu faptul că oferim servicii de înaltă calitate și soluții
        personalizate pentru clienții noștri.
      </p>
      <p class="text-lg text-gray-800 text-justify mt-4">
        Echipa noastră este formată din profesioniști calificați și dedicați, care au o vastă experiență în industrie și
        sunt la curent cu cele mai recente tendințe și tehnologii din domeniu. Ne asigurăm că toate proiectele noastre
        sunt realizate cu atenție la detalii, garantând astfel rezultate deosebite și satisfacția clienților noștri.
      </p>
      <p class="text-lg text-gray-800 text-justify mt-4">
        Indiferent dacă aveți nevoie de soluții pentru locuințe rezidențiale, clădiri comerciale sau proiecte
        industriale, putem oferi o gamă variată de produse și servicii adaptate nevoilor dvs. De la uși și ferestre din
        aluminiu și PVC, la sisteme moderne de fatade ventilate și balustrade elegante de sticlă, suntem aici să vă
        ajutăm să transformați spațiile într-un mod estetic și funcțional.
      </p>
      <p class="text-lg text-gray-800 text-justify mt-4">
        Încrederea și satisfacția clienților noștri sunt prioritățile noastre principale. Prin abordarea noastră
        orientată către client, colaborăm strâns cu dvs. pentru a înțelege nevoile și cerințele specifice ale
        proiectului dvs. Astfel, putem oferi soluții personalizate și consiliere de specialitate pentru a vă ajuta să
        luați decizii informate.
      </p>
      <p class="text-lg text-gray-800 text-justify mt-4">
        Vă invităm să ne contactați și să descoperiți de ce suntem alegerea ideală pentru proiectul dvs. de tamplărie în
        aluminiu și PVC, fațade ventilate, sisteme bond, HPL și fibrociment, pereți cortina și balustrade de sticlă.
        Echipa noastră este pregătită să vă ofere servicii de calitate superioară și să transforme visul dvs. în
        realitate.
      </p>
      <p class="text-lg text-gray-800 mt-16">
        Cu încredere,
      </p>
      <p class="text-lg text-gray-800 mt-2">
        Adrian Ferariu
      </p>
      <p class="text-lg text-gray-800 mt-2">
        Proprietar și Fondator DiamyDesign
      </p>
    </div>
  </main>
{% endblock %}
{{ page.footer }}